.galleryItem {
  @apply block h-full w-full relative rounded-md;
}

.topDayItem {
  @apply inline-block aspect-3/4 sm:h-36 relative my-auto rounded-md;
}

.titleItems {
  @apply inline-block aspect-3/4 sm:h-32 relative my-auto rounded-md;
}

.mostPopular {
  .alice-carousel__wrapper {
    @apply bg-white py-4;
  }

  .alice-carousel__stage-item {
    @apply rounded-md h-44 px-2 hover:scale-[1.025] transition-transform ease-out duration-300;
  }

  @apply my-4;
}

.gallery {
  .alice-carousel__prev-btn {
    @apply absolute top-[7.5rem] p-0 text-left -left-8 -translate-y-1/2;
  }

  .alice-carousel__wrapper {
    @apply py-2;
  }

  .alice-carousel__next-btn {
    @apply absolute top-[7.5rem] p-0 text-right -right-8 -translate-y-1/2;
  }

  .alice-carousel__stage-item {
    @apply w-auto h-60 rounded-md mx-0 first:pl-2 px-2 hover:scale-[1.025] transition-transform ease-out duration-300;
  }

  @apply sm:max-w-[1263px] mx-auto h-[300px] pt-4 py-4;
}

.galleryItem:hover .galleryItemLink div {
  @apply text-yellow-300;
}

.galleryItemLink {
  @apply text-white transition-colors duration-100;
}

.logoInput {
  @apply block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-2 my-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
}

.kek span {
  @apply text-lg mb-1 text-white;
}

.titlePageButton {
  @apply rounded-md text-lg px-4 py-2 bg-white last:ml-8;
}

.titleMenuSpan {
  @apply first:ml-0 text-lg py-2 px-4;
}

.titleChapterButton {
  @apply rounded-md text-base my-auto px-3 py-1 bg-cred mx-4 text-white;
}

[data-toggle='toggle'] {
  transition: 0.2s;
  display: none;
}

.vk path {
  @apply fill-blue-500;
}

.editor-shell {
  @apply border-2 border-solid rounded-md mx-auto my-0 w-full;
}

.editor-container {
  @apply w-full;
}

.ChapterTextButtons {
  @apply w-fit mx-auto;
}

.ChapterTextButtons button {
  @apply h-[46px] w-[216px] mx-2 border-2 rounded-md;
}

.MuiButtonBase-root {
  @apply transition-all duration-200;
}

.footerNav {
  @apply flex flex-wrap w-[390px];
}

.footerNav a {
  @apply mx-4 block h-6;
}

.lineUnderWord::before {
  transform: scaleX(0) scaleY(0.05);
  transform-origin: bottom right;
}

.lineUnderWord:hover::before {
  transform: scaleX(1) scaleY(0.05);
  transform-origin: bottom left;
}

.lineUnderWord::before {
  content: ' ';
  display: block;
  position: absolute;
  transition: transform 0.3s ease;
  @apply bg-cred bottom-0 inset-0;
}

.lineUnderWord {
  position: relative;
}

.headerNavItem {
  @apply my-auto;
}

.textOptionStyle {
  @apply p-4 border-l-2 transition-transform duration-500 w-[400px] ease-out absolute top-0 right-0 min-h-screen origin-right;
}

.topTitleNavBar {
  @apply bg-white flex flex-col transition-all duration-300 ease-out origin-top;
}
